# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. python Lanuage
2. R Languge
2. Julia languge

### Some of the commonly used libraries used by Data Scientists include:
* pandas
* numpy
* ggplot2

### Data Sceince Tools
|programming languages|Data wrangling|data visualization|machine learing| big data|
|---------------------|--------------|------------------|---------------|----------|
|Python, R|Pandas, Numpy, dplyr| matplot, ggplot2, seaborn| sikit_learn, tensor flow|apache Hadoop, apache spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
(333*10)+100

3430

In [15]:
123+(34*5)/2+50

258.0

In [12]:
minute = 60;
hour = minute;

print ("sixty minutes is  ","", minute/60,"hour")

sixty minutes is    1.0 hour

### objectives
* To practice Jupyter notebook
* To submit garaded Asignments

### Author : 
Solomon Mehari