In [1]:
import sqlite3

# Create a connection to an in-memory database
conn = sqlite3.connect(':memory:')  # You can also use a file-based DB by passing a file path

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [2]:
# Create a table
cursor.execute('''CREATE TABLE employees (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    position TEXT,
                    salary REAL
                )''')

# Commit the changes
conn.commit()

In [3]:
# Insert data into the table
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Alice', 'Manager', 85000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Bob', 'Developer', 70000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Charlie', 'Designer', 60000)")

# Commit the changes
conn.commit()

In [4]:
# Fetch all rows from the employees table
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# Display the data
for row in rows:
    print(row)

(1, 'Alice', 'Manager', 85000.0)
(2, 'Bob', 'Developer', 70000.0)
(3, 'Charlie', 'Designer', 60000.0)

In [5]:
# Update Bob's salary
cursor.execute("UPDATE employees SET salary = 75000 WHERE name = 'Bob'")
conn.commit()

# Verify the update
cursor.execute("SELECT * FROM employees WHERE name = 'Bob'")
print(cursor.fetchone())

(2, 'Bob', 'Developer', 75000.0)